// 网易颜色库
$netease-background-Color: #dc2c1f; //网易云背景颜色
$netease-color-one: #ffffff;
$netease-color-two: #ee4242;
$netease-color-three: #fff8f8;
$netease-color-four: #f3665c;
$netease-color-five: #808080;
$netease-color-six: #333333;
